src/main/mule/flow.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config1" doc:name="HTTP Listener config" doc:id="4adf452a-f327-49cd-a793-524e782968c9" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="flowFlow" doc:id="979cfd66-f279-4ede-a78d-301184551bf6" >
		<http:listener doc:name="Listener" doc:id="9b361d1c-27d9-4790-af39-3679eee1ccdc" config-ref="HTTP_Listener_config1" path="/hello"/>
		<ee:transform doc:name="Transform Message" doc:id="b4c53b6e-e4f2-4f23-afee-7f464d223567" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
"mesage": "hello Bini"]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="6279468e-72f3-4c45-963a-486c7daadb12" message="#[payload]"/>
	</flow>

</mule>
